/*ivory;*/
.chart {
  background-color: #ffffff;
  border: 1px #4a86e8;
  margin: 2px;
  padding: 3px;
  text-align: center;
}
#generator {
  background-color: #4a86e8;
  border-width: 1px;
  width: 95%;
}
.axis path,
.xAxis path,
.yAxis path,
.axis line,
.xAxis line,
.yAxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text,
.xAxis text,
.yAxis text {
  font-family: sans-serif;
  font-size: 11px;
}
table tr:nth-child(even) td {
  background-color: #EDF3FE;
}
table tr:nth-child(odd) td {
  background-color: white;
}
table tr:first-child td {
  background-color: white;
  font-weight: bold;
}
#main {
  max-height: 90%;
  width: auto;
}
section.grid {
  display: table;
}
section.grid * {
  border: 4px double black;
  padding: 5px;
}
section.grid *.row {
  display: table-row;
}
section.grid *.cell {
  display: table-cell;
}
section.grid *.header {
  display: table-header-group;
}
section.grid *.tbody {
  display: table-row-group;
}
section.grid *.footer {
  display: table-footer-group;
}
section.grid *.col {
  display: table-column;
}
section.grid *.caption {
  display: table-caption;
}
section.grid *.row:nth-child(even) *.cell {
  background-color: #EDF3FE;
}
section.grid *.row:nth-child(odd) *.cell {
  background-color: white;
}
section.grid *.row:first-child *.cell {
  background-color: white;
  font-weight: bold;
}
section.grid *.selected * {
  background-color: #EDF3FE;
  font-weight: bold;
}
