--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/
django==1.5.1
south==0.8.1

git+https://github.com/tomchristie/django-rest-framework.git#egg=rest_framework #for REST services
git+https://github.com/marcgibbons/django-rest-swagger#egg=rest_framework_swagger #for REST services documentation

-e git://github.com/denigma/utils.git@#egg=utils

pinax-theme-bootstrap==3.0a2
pinax-theme-bootstrap-account==1.0b2
django-user-accounts==1.0b8
django-forms-bootstrap==2.0.3.post1
metron==1.1
pinax-utils==1.0b1.dev3
eventlog==0.6
django-jsonfield==0.8.12
django-less==0.7.1
-e git+https://github.com/denigma/django-coffeescript.git#egg=coffescript
-e git+https://github.com/alex/django-filter.git#egg=django_filters