rect{
    stroke: black
}

/*
Denigma colors:
top right red fill: rgba(204,0,0,1)
center fill: rgba(224,102,102,1)
orange left fill: rgba(246,178,107,1)
violet bottom right rgba(166, 77, 121 ,1)

*/

.decor {
    fill:rgba(166, 77, 121 ,0.3);
    stroke: grey
}

.icon rect {
    fill: rgba(246,178,107,0.3)
}

rect{
    stroke: black;
}

.test .min {
    fill: red;
}


.test .mean {
    fill: steelblue;
}

.test .median {
    fill: stellblue;
}

.test .max {
    fill: green;
}

.control rect {
    stroke: grey
}

.control .min {
    fill: silver;
}


.control .mean {
    fill: #BCC6CC;

}

.control .median {
    fill: #BCC6CC;
}

.control .max {
    fill: #D1D0CE;
}
