{% extends "base.html"|pjax:request %}


{% load staticfiles %}

{% load coffeescript%}

{% load less %}


{% load selectable_tags %}


{% block coffee %}

    <!-- look down and you will understand why I am interested in concatenations =)) -->
    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "scripts/pjax_init.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "core/django_storage.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "core/denigma.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "models/member.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "models/organization.coffee" %}"> </script>


    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "controllers/member_controller.coffee" %}"> </script>

    {{ form.media }}

{% endblock coffee %}


{% block menu %}
    {% include "grid_menu.html" %}
{% endblock %}

{#<section id="main" class="grid" style="height: 200px">#}
{#    <section class="thead">#}
{#        <section class="row">#}
{#            <div class="cell">id</div>#}
{#            <div class="cell">name</div>#}
{#            <div class="cell">organization</div>#}
{#        </section>#}
{#    </section>#}
{#    <section class="tbody">#}
{#        <section class="row" data-foreach-organization="Organization.all">#}
{#            <div class="cell">#}
{##}
{#                <input class="id" type="text" placeholder="name" data-bind="organization.id">#}
{#                <input class="name" type="text" placeholder="name" data-bind="organization.name">#}
{#                <input class="description" type="text" placeholder="name" data-bind="organization.description">#}
{##}
{#            </div>#}
{#        </section>#}
{##}
{#    </section>#}
{#</section>#}

{% block body %}



    {% block content %}




        <div class="pjax-container" style="height: 100%">

            <script type="text/javascript">

                setTimeout(function() {

                    window.bindSelectables('body'); //Experimental dirty hack. TODO: assign to some view lifecicle
                }, 2000);   // то же самое, но с функцией.
            </script>



        <!--{"salary": 0.0, "surname": "surname_0", "name": "username_0", "age": 10, "organization": "Denigma", "id": 1}-->
        <section id="main" class="grid"  data-define-view="member#index">
            <section class="thead">
                <section class="row">
                    {% for f in fields %}
                        <div class="cell">{{f}}</div>
                    {% endfor %}
                </section>
                <section class="row">

                    {% for f in fields %}
                            <div class="cell"><input class="{{f}}" type="text" placeholder="{{f}}" data-bind="controllers.{{model}}.{{f}}"></div>
                    {%  endfor %}
                    <div class="cell">
                        <Button data-event-click="controllers.{{model}}.filter">Filter</Button>
                    </div>
                    <div class="cell" data-showif="controllers.{{model}}.filtered">
                        <Button data-event-click="controllers.{{model}}.clear">Clear</Button>
                    </div>

                </section>
            </section>
            <section class="tbody">
                <section class="row" data-foreach-{{model}}="controllers.{{model}}.items"
                         data-event-mouseover="controllers.{{model}}.over"
                         data-event-mouseout="controllers.{{model}}.out"
                        >
                    {% for f in fields %}
                        {% if f in foreign %}
                            <input
                                    data-selectable-type="combobox"
                                    data-selectable-url="/selectable/grids-organizationlookup/"
                                    id="id_{{f}}_{{ forloop.counter }}"
                                    name="name_{{ forloop.counter }}"
                                    type="text"
                                    data-bind="{{model}}.{{f}}"
                                    class="{{f}} ui-autocomplete-input ui-widget ui-widget-content ui-corner-left ui-combo-input" autocomplete="true">
                        {% else %}
                        <div class="cell">
                            <input class="{{f}}" type="text"
                                   placeholder="{{f}}" data-bind="{{model}}.{{f}}"
                                   data-event-blur="controllers.{{model}}.blur"
                                    >
                        </div>
                        {% endif %}
                    {% endfor %}


                    <div class="cell remove">
                        <Button data-event-click="controllers.{{model}}.remove">x</Button>
                    </div>
                    <div class="cell" data-showif="{{ model }}.isDirty">
                        <Button data-event-click="controllers.{{model}}.save">Save</Button>
                    </div>
                </section>
            </section>
            <section class="tfoot">
                <section class="row">
                    {% for f in fields %}
                        <div class="cell">
                            <input class="{{f}}" type="text" placeholder="{{f}}" data-bind="controllers.{{model}}.novice.{{ f }}">
                        </div>
                    {% endfor %}
                    <div class="cell" data-showif="controllers.{{model}}.novice.isDirty">
                        <Button data-event-click="controllers.{{model}}.add">Add</Button>
                        <Button data-event-click="controllers.{{model}}.clean">Clean</Button>
                    </div>
                </section>
            </section>

        </section>

        </div>

    {% endblock content %}

{% endblock body %}
