{% load staticfiles %}

{% load coffeescript%}

{% load less %}


<html>
<head>

    <link rel="stylesheet" href="{{ STATIC_URL }}{% less 'denigma.less' %}"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}{% less 'grids.less' %}"/>


    <link rel="stylesheet" href="{% static 'lib/scrollbar/jquery.mCustomScrollbar.css' %}"  />

    <script src="{% static 'lib/jquery-2.0.2.js' %}" type="text/javascript"></script>

    <script src="{% static 'lib/d3.js' %}" type="text/javascript"></script>

    <script src="{% static 'lib/batman.js' %}" type="text/javascript"></script>

    <script src="{% static 'lib/batman.jquery.js' %}" type="text/javascript"></script>

    <script src="{% static 'lib/jquery-ui.js' %}" type="text/javascript"></script>


    <!-- look down and you will understand why I am interested in concatenations =)) -->

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "core/django_storage.coffee" %}"> </script>



    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "core/denigma.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "models/member.coffee" %}"> </script>

    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "controllers/member_controller.coffee" %}"> </script>


    <script src="{% static 'lib/scrollbar/jquery.mCustomScrollbar.js' %}"></script>


</head>
<body id="test">


<!--{"salary": 0.0, "surname": "surname_0", "name": "username_0", "age": 10, "organization": "Denigma", "id": 1}-->
<section id="main" class="grid"  data-define-view="member#index">
    <section class="thead">
    <section class="row">
        {% for f in fields %}
        <div class="cell">{{f}}</div>
        {% endfor %}
    </section>
    <section class="row">
        {% for f in fields %}
            <div class="cell"><input type="text" placeholder="{{f}}" data-bind="controllers.{{model}}.{{f}}"></div>
        {%  endfor %}
        <div class="cell">
            <Button data-event-click="controllers.{{model}}.filter">Filter</Button>
        </div>
        <div class="cell" data-showif="controllers.{{model}}.filtered">
            <Button data-event-click="controllers.{{model}}.clear">Clear</Button>
        </div>

    </section>
    </section>
    <section class="tbody">
    <section class="row" data-foreach-{{model}}="controllers.{{model}}.items"
             data-event-click="controllers.{{model}}.click"
             data-event-mouseover="controllers.{{model}}.over"
             data-event-mouseout="controllers.{{model}}.out"
            >
        {% for f in fields %}
        <div class="cell">
            <input type="text" placeholder="{{f}}" data-bind="{{model}}.{{f}}">
        </div>
        {% endfor %}
        <div class="cell" data-showif="{{ model }}.isDirty">
            <Button data-event-click="controllers.{{model}}.save">Save</Button>
        </div>
    </section>
    </section>

</section>

</body>
</html>
