{% load staticfiles %}

{% load coffeescript%}

{% load less %}


<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% less 'static/styles/denigma.less' %}"/>


    <script src="{% static 'lib/jquery-2.0.2.js'%}" type="text/javascript"></script>

    <script src="{% static 'lib/d3.js'%}" type="text/javascript"></script>

    <script src="{% static 'lib/batman.js'%}" type="text/javascript"></script>

    <script type="text/javascript" src="{% coffeescript "static/core/denigma.coffee" %}"> </script>

    <script type="text/javascript" src="{% coffeescript "static/tables/table.coffee" %}"> </script>


</head>
<body>
<table width="100%" border="1">
    <thead> <tr>
        <th class="orderable polymorphism sortable"><a href="?sort=polymorphism">Polymorphism</a></th>
        <th class="factor orderable sortable"><a href="?sort=factor">Factor</a></th>
        <th class="odds_ratio orderable sortable"><a href="?sort=odds_ratio">Odds Ratio</a></th>
        <th class="asc orderable pvalue sortable"><a href="?sort=-pvalue">Pvalue</a></th>
        <th class="initial_number orderable sortable"><a href="?sort=initial_number">Initial Number</a></th>
        <th class="orderable replication_number sortable"><a href="?sort=replication_number">Replication Number</a></th>
        <th class="ethnicity orderable sortable"><a href="?sort=ethnicity">Ethnicity</a></th>
        <th class="age_of_cases orderable sortable"><a href="?sort=age_of_cases">Age Of Cases</a></th>
        <th class="orderable shorter_lived_allele sortable"><a href="?sort=shorter_lived_allele">Shorter Lived Allele</a></th>
        <th class="longer_lived_allele orderable sortable"><a href="?sort=longer_lived_allele">Longer Lived Allele</a></th>
        <th class="orderable sortable study_type"><a href="?sort=study_type">Study Type</a></th>
        <th class="orderable sortable technology"><a href="?sort=technology">Technology</a></th>
        <th class="orderable reference sortable"><a href="?sort=reference">Reference</a></th> </tr> </thead>
</table>

</body>
</html>